/* #todo-list {
	width: 300px;
	margin: auto;
}
.task {
	padding: 10px;
	border: 1px solid #ccc;
    list-style: none;
    display: flex;
    justify-content: space-between;
    background-color: #ccc;
}
.tasks {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 1rem;
    padding: 0;
}

.task--done{
    background-color: greenyellow;
} */

/* Variables */
:root {
	--background-color: #f0f1f6;
	--box-color: #e0e5ec;
	--border-radius: 12px;
	--light-shadow: #ffffff73;
	--dark-shadow: rgba(163, 177, 198, 0.6);
	--transition-speed: 0.3s;
}

/* Réinitialisation de base */
body,
h1,
h2,
ul,
li,
button,
input {
	margin: 0;
	padding: 0;
	border: none;
	list-style: none;
}

/* Configuration globale */
body {
	font-family: Arial, sans-serif;
	background-color: var(--background-color);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.todo__list {
	background: var(--box-color);
	border-radius: 16px;
	box-shadow: -4px -4px 7px var(--light-shadow), 4px 4px 7px var(--dark-shadow);
	padding: 20px;
	width: 300px;
}

.todo__input {
	display: flex;
	align-items: center;
}

/* Titres */
h1,
h2 {
	text-align: center;
	margin-bottom: 16px;
}

/* Tâches et input */
.tasks,
.task,
.new-task {
	background: var(--box-color);
	margin: 8px 0;
	padding: 12px;
	border-radius: var(--border-radius);
	box-shadow: inset -4px -4px 7px var(--light-shadow),
		inset 4px 4px 7px var(--dark-shadow);
}

.tasks {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.task {
	display: flex;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1rem;
}

.new-task {
	width: 100%;
	margin-right: 1rem;
}

.task--done span {
	text-decoration: line-through;
	color: grey;
}

/* Bouton d'ajout */
.add-task,
.delete {
	background: var(--box-color);
	padding: 10px 20px;
	border-radius: var(--border-radius);
	box-shadow: -4px -4px 7px var(--light-shadow), 4px 4px 7px var(--dark-shadow);
	transition: var(--transition-speed);
}

.add-task:hover {
	box-shadow: -2px -2px 5px var(--light-shadow), 2px 2px 5px var(--dark-shadow);
}

.add-task:active {
	box-shadow: inset -2px -2px 4px var(--light-shadow),
		inset 2px 2px 4px var(--dark-shadow);
}

/* Checkbox */
.task-checkbox {
	margin-right: 10px;
}

.task-checkbox {
	appearance: none;
	width: 24px;
	height: 24px;
	background-color: #f1f1f1;
	border-radius: 12px;
	box-shadow: -2px -2px 4px #ffffff, 2px 2px 4px #a9a9a9;
	cursor: pointer;
	transition: box-shadow 0.3s ease;
}
/* État au survol */
.task-checkbox:hover {
	box-shadow: -2px -2px 6px #ffffff, 2px 2px 6px #a9a9a9;
}

/* État au clic */
.task-checkbox:active {
	box-shadow: inset -2px -2px 4px #ffffff, inset 2px 2px 4px #a9a9a9;
}

.task--done .task-checkbox {
	background-color: #d6d6d6;
    box-shadow: inset -2px -2px 4px #ffffff, inset 2px 2px 4px #a9a9a9;
}
